@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body { 
    font-family: 'Lexend Deca', sans-serif;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    min-height: 100vh;
    background: hsl(233, 47%, 7%);
    color: white;
    text-align: center;
}

.wrapper {
    width: 375px;
    background: hsl(244, 38%, 16%);
    border-radius: 10px;
    height: 100%;

    margin: 30px 0 ;
}

.col1 {
    background: blueviolet;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 300px;
}

.col1 img{

    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    opacity: .5;
}

.col2 {
    margin: 30px 30px;
}

.headline {
    font-family: 'Inter';
    color: hsl(0, 0%, 100%);
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 0;
}

.content {
    font-size: 1.2rem;
    padding: 30px 0 0 0;
}

.stats {
    margin-top: 50px;
    margin-bottom: 0;
}

.queries p {
    padding-bottom: 10px;
}

.col2 p  {
    color: hsla(0, 0%, 100%, 0.75);
    margin: 0;
}

.col2 p {
    color: hsla(0, 0%, 100%, 0.6);
    font-size; 1.5rem;
}

.accent{
    color: hsl(277, 64%, 61%);
    transition: color 500ms ease-in-out;
    animation:alternate-reverse infinite;
    animation-name: changecolor;
    animation-duration: 5s;
    
}

.accent:hover {
    color: hsl(277, 79%, 87%);
    
}

@keyframes changecolor {
    from {color: hsl(277, 64%, 61%);}
    to {color: hsl(290, 93%, 82%);}
  }

@media (min-width: 900px){

    .wrapper {
        height: 550px;
        width: 1385px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;

    }

    .headline {

        font-weight: 700;
        font-size: 2.7rem;
        margin-top: 50px;
        margin-bottom: 10px;
    }

    .content {
        font-weight: 100;
        width: 85%;
        line-height: 1.7rem;
        font-size: 1.1rem;
    }

    .col1 {
        flex: 1;
        height: 100%;
        
    }

    .col2 {
        flex: 1;
        justify-content: center;
        align-content: center;
        text-align: left;
        
    }

    .wrapper2 {
        margin: 70px 0 ;
        padding: 10;
        display: flex;
        width: 85%;
        justify-content:space-between;
        align-content: center;
    }

    .contents {
        margin: auto;
        width: 80%;
    }
    
    .col1 img {
        border-top-left-radius: 0;
        border-bottom-right-radius: 10px;
        opacity: 0.7;
        
        
    }

    .stats {
        margin: 0;
    }

